{% extends 'base.html.twig' %}

{% block body %}
  <div class="wrapper">
    <div class="container">
      <div class="float-right h2" style="color: #ab2027;">
        Coming Soon
        <img src="/img/treble-note.gif" class="img-fluid" width="100"/>
      </div>
      <div class="welcome">
        <h1 class="pt-4">Art Mania Music Learning Center</h1>
      </div>
      <div class="hero">
        <img class="img-fluid" src="/img/cover1.jpg"/>
      </div>

    </div>
  </div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <style>
    .vertical-spacer{min-height: 10vh;}
  </style>
{% endblock %}
